.hero-bg {
            background-image: linear-gradient(to right, #013223 0%, #006747 50%, #013223 100%);
        }

        body {
            font-family: 'Inter', sans-serif;
        }

        ::selection {
            background-color: #006747;
            color: #fff;
        }

        /* img {
            height: 40px !important;
            width: 40px !important;
        } */