.hero-bg {
            background-image: linear-gradient(to right, #013223 0%, #006747 50%, #013223 100%);
        }

        body {
            font-family: 'Inter', sans-serif;
            background-color: #f5fff6cb !important;
            /* max-width: 1200px !important; */
            /* margin: 0 auto !important; */
        }

        ::selection {
            background-color: #006746cc;
            color: #fff;
        }

        /* img {
            height: 40px !important;
            width: 40px !important;
        } */